<% locals.title = "Foursquare URL Converter" %>
<% include ../layouts/_header %>
<div class="container">
<form role="form">
    <label for="foursquareVenueURL"><h1>Foursquare Venue URL</h1></label>
    <div class="row">
  <div class="col-lg-6">
  <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    <input type="text" class="form-control input-lg" id="foursquareVenueURL" placeholder="Paste URL">
  </div>
  </div>
  </div>
  </form>
  <script src="<%= data.baseUrl %>scripts/index.js"></script>
</div>
<% include ../layouts/_footer %>
